In [1]:
import numpy as np
import pandas as pd

In [3]:
def simulate_match(home_attack, home_defense,
                   away_attack, away_defense,
                   home_advantage):

    lambda_home = home_attack * away_defense * home_advantage
    lambda_away = away_attack * home_defense

    home_goals = np.random.poisson(lambda_home)
    away_goals = np.random.poisson(lambda_away)

    if home_goals > away_goals:
        outcome = 2
    elif home_goals < away_goals:
        outcome = 0
    else:
        outcome = 1

    return home_goals, away_goals, outcome

In [4]:
data = []

for _ in range(1500):
    home_attack = np.random.uniform(0.5, 2.0)
    home_defense = np.random.uniform(0.5, 2.0)
    away_attack = np.random.uniform(0.5, 2.0)
    away_defense = np.random.uniform(0.5, 2.0)
    home_advantage = np.random.uniform(1.0, 1.5)

    home_goals, away_goals, outcome = simulate_match(
        home_attack, home_defense,
        away_attack, away_defense,
        home_advantage
    )

    data.append([
        home_attack, home_defense,
        away_attack, away_defense,
        home_advantage,
        home_goals, away_goals,
        outcome
    ])

In [5]:
df = pd.DataFrame(
    data,
    columns=[
        "home_attack",
        "home_defense",
        "away_attack",
        "away_defense",
        "home_advantage",
        "home_goals",
        "away_goals",
        "match_outcome"
    ]
)

df.head()

,home_attack,home_defense,away_attack,away_defense,home_advantage,home_goals,away_goals,match_outcome
0,1.897179,1.901975,0.763832,0.915417,1.458412,3,3,1
1,1.755714,1.903662,1.811596,1.912414,1.263078,8,2,2
2,0.791188,0.826976,0.789521,0.935254,1.309326,2,1,2
3,0.896422,1.260509,1.535455,0.879991,1.438716,1,1,1
4,0.963022,1.747740,1.923966,1.302920,1.406304,3,4,0

In [6]:
df.to_csv("simulated_matches.csv", index=False)